/* .title{
    font-family: 'Alegreya Sans', sans-serif;
}

.paragraph{
    font-family: 'Montserrat', sans-serif;
} */

@font-face{
    src: url("/fuentes-letras/assets/MelanieRoselyn.ttf");
    font-family: "myFont";
}

.title{
    text-align: center;
    font-size: 40px;
    font-family: myFont;
}