/* 
    box = caja
    model=modelo

    h1{
    background: lightblue;
    height: 150px;

}

h2{
    background: purple;
}

a{
    background: lime;
    width: 300px;
} */

.box-1{
    width: 100px;
    height: 100px;
    background: lime;
    padding: 10px;
    border: 2px solid violet;
    margin: 20px;
    outline: 5px solid blue;
}
.box-2{
    width: 100px;
    height: 100px;
    background: lightcoral;
}