:root{
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
    margin: 0;
    color: #eee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container{
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px; */
    grid-template-columns: 100px 50px 70px 40px;
    grid-template-rows: 100px 120px 50px;
     /* grid-row-gap: 10px; */
    /* grid-column-gap: 10px;  */
}


.grid-item{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 2rem;
}