body{
    color: #eee;
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
    height: 100vh;
}


.grid-container{
    display: grid;
    border: 3px solid yellow;
    grid-gap: 10px;
    height: 80vh;
    grid-template-columns: repeat(3,1fr);
    /* justify-items: start; */
    /* justify-items: center; */
    /* justify-items: end; */

        /* align-items: start; */
    /* align-items:center; */
    /* align-items: stretch; */

    /* place-items: center end; */

    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* align-content: space-around; */
}

.grid-item{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
}

.grid-item:nth-child(2){
    /* align-self: flex-start;
    justify-self:flex-end; */

    /* place-self: start end; */

    background-color: royalblue;
    order: -1;
}