body{
    background-color: #333;
}

.box{
    width: 400px;
    height: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.box__item{
    background-color: lightcoral;
    /* border: 1px solid black; */
    
    width: 400px;
    height: 400px;
    
    /* clip-path: circle(100px at left top); */
    
    /* clip-path: ellipse(100px 50px); */
    
    /* position: absolute;   */

    /* clip-path: inset(20px 50px 100px 150px); */
    /* clip-path: inset(20px); */
    /* clip-path: inset(20px round 20px); */
    /* clip-path: inset(20px round 20px 50px); */

    /* clip-path: polygon(0 0, 100% 0, 0 100%); */
    /* clip-path: polygon(50% 0 , 0 100% ,100% 100%); */
    /* clip-path: polygon(25% 25%, 75% 25%, 75% 75%,25% 75%); */
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}